<%= render 'shared/nav' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url("Fantasy-banner.jpg") %>);">
  <div class="container">
    <h1>Character Maker</h1>
    <p>Click, Add, Play</p>
    <%= link_to "Start Now", new_user_path, class:"dbtn-ghost" %>
  </div>
</div>
<div class="bblack" style="width: 100vw">
  <div class="cards">
    <% @users.each do |user| %>
      <div>
        <div class="card-category" style="background-image: url(<%= image_url("male-face.jpg") %>);">
          <%= link_to user.username, user_path(user), class:"card-link" %>
          <%= link_to edit_user_path(user), class:"card-edit" do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to user_path(user), data: { confirm:"are you sure?" }, method: :delete, class:"card-delete" do %>
            <i class="fas fa-ban"></i>
          <% end %>
        </div>
      </div>
    <% end  %>
  </div>
</div>
