<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url("Fantasy-banner.jpg") %>);">
  <div class="container">
    <h1>Character Maker</h1>
    <p>Click, Add, Play</p>
    <%= link_to "Start Now", new_user_path, class:"btn-gradient" %>
  </div>
</div>

<div class="cards">

  <% @users.each do |user| %>
    <div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url("male-face.jpg") %>);">
        <%= link_to user.username, user_path(user), class:"card-link" %>
        <%= link_to edit_user_path(user), class:"card-edit" do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to user_path(user), data: {toggle: "modal", target: "#exampleModal"}, method: :delete, class:"card-delete" do %>
          <i class="fas fa-ban"></i>
        <% end %>
      </div>
    </div>
  <% end  %>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
