<%= render 'shared/nav-show' %>
<div class="hund-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url("tavern.jpg") %>);"> >

  <div class="ninefivew-container">
    <!-- Text Goes here -->
    <div class="show-text text-center" s>
      <h1 class="styled-font">Welcome Adventurer!</h1>
      <h3 class="styled-font">Here lies <%= "#{@user.username}'s" %> tome of legends</h3>
      <p class="font-white font-lilbigger">Within these pages you shall find a story known only to a few</p>
    </div>
    <div class="display-boxes">
      <div><!-- Cards go in here-->
        <!-- Loop below -->
        <div class="cards-chars" >
          <% @user.characters.each do |char| %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url("female-face.jpg") %>);">
            <%= char.name %>
            <%= link_to edit_user_character_path(@user, char), class:"card-edit" do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to user_character_path(@user, char), data: { confirm:"are you sure?" }, method: :delete, class:"card-delete" do %>
              <i class="fas fa-ban"></i>
            <% end %>
            </div>
          <% end  %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url("female-face.jpg") %>);">
          <%= link_to "add a character", new_user_character_path(@user) %>
          </div>
        </div>
      </div>
        <!-- BIG char display goes here -->
      <div  class="eight-container" style="background-image: url(<%= image_url("tome-page.jpg") %>">
        <h1 >THIS IS FOR THE SINGLE CHARACTER DISPLAY</h1>
      </div>
    </div>

  </div>
</div>

