<h1>Editting a Characte of a User</h1>

<%= simple_form_for [@user, @character] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :allies %>
  <%= f.input :enemies %>
  <%= f.association :race %>
  <%= f.association :gender %>
  <%= f.association :profession %>
  <%= f.association :hair_type %>
  <%= f.association :hair_color %>
  <%= f.association :eye %>
  <%= f.association :wealth %>
  <%= f.submit %>
<% end %>

<br>
<br>

<%= link_to "user", user_path(@user) %>
