<h1>Adding a Characte to a User</h1>

<%= simple_form_for [@user, @character] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :allies %>
  <%= f.input :enemies %>
  <%= f.association :race %>
  <%= f.submit %>
<% end %>

<br>
<br>

<%= link_to "user", user_path(@user) %>
